[Desktop Entry]
Version=1.0
Type=Application
Name=QBrainwaveOSC
Comment=Mindwave OSC tool
Exec=QBrainwaveOSC
Icon=QBrainwaveOSC
Categories=Audio;AudioVideo;Qt;
